
body.extension .row {
	margin-right: 0px;
	margin-left: 0px;
	margin-bottom: 50px;
}

body.extension p,
body.extension ul li {
	color: #7F7F7F;
  font: 300 1em/1em "Montserrat", sans-serif;
	font: 300 1em/1em "Montserrat", sans-serif;
	line-height: 1.5em;
}

body.extension .text-block p {
	font-size: 21px;
    line-height: 1.5em;
    line-height: 1.5em;
    letter-spacing: .22px;
}

body.extension .text-block p {
	max-width: 600px;
}

body.extension .mobile .slider div {
	margin-bottom:30px;
}

body.extension .material {
	color: #3D3D3D;
    overflow: visible;
    padding-top: 100px;
    padding-bottom: 100px;
}

body.extension footer .text-block p{
	color: #fff;
	font-size: 14px;
    font-weight: 200;
    max-width: 600px;
    margin: 0 auto 40px;
    letter-spacing: .022em;
    line-height: 1.5em;
}
