.social-icons {
	@include unstyle-lists();
	clear: both;
	display: block;
	font-size: 0;
	line-height: 1em;
	li {
		display: inline-block;
		margin: 0 10px;
		&:first-child { margin-left: 0px !important; }
		&:last-child { margin-right: 0px !important; }
		span,
		a {
			color: $black;
			display: block;
			font-size: 30px;
			line-height: 1em;
			cursor: pointer;
			&:hover {

			}
		}
	}
}